.header {
    margin-bottom: 0.5em;
    padding-bottom: 10px;
    border-bottom: 3px solid #cc2c41;
    text-align: center;
}

.date {
    font-weight: bold;
    text-align: justify;
    margin: 0 auto;
    max-width: 750px;
    margin-bottom: 1em;
}

.text {
    text-align: justify;
    margin: 0 auto;
    max-width: 750px;
}